.App {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column; 
  /* align-items: center; */
  background-color: whitesmoke;
  color: black;
}

.App> div{
  margin: 0 auto;
}

form {
  background-color: white;
  padding: 15px;
  border-radius: 15px;  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px;
}

input{
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;  
}

input:first-child{
  margin-right: 12px;
  border: none;
  width: 400px;
  background-color: whitesmoke;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

input:last-child{
  background-color: lime;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

input:last-child:hover{
  background-color: GreenYellow;
}

input:last-child:active{
  background-color: Yellow;
}

.repos {
  padding: 20px 0px;
}


.repos-owner {
  font-weight: 500;
  font-size: 24px;
  padding: 15px 40px;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px;  
  display: flex;
  align-items: center;
}

.repos-owner span{
  padding-left: 10px;
}
